<footer class="c-footer {{class_name}}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a href="{{url_base}}/pages/about" class="c-footer__item">About</a>
        <a href="{{url_base}}/pages/terms_of_service" class="c-footer__item">Terms of Service</a>
        <a href="{{url_base}}/pages/legal_notice" class="c-footer__item">Legal Notice</a>
        <a href="{{url_base}}/pages/legal_notice#privacy_policy" class="c-footer__item">Privacy Policy</a>
        <a href="https://jobs.lever.co/honeypot" class="c-footer__item" target="_blank">Careers</a>
        <a href="{{url_base}}/pages/faq" class="c-footer__item">FAQ</a>
        <a href="http://blog.honeypot.io" class="c-footer__item" target="_blank">Blog</a>
        <a href="https://autotechmap.honeypot.io/" class="c-footer__item" target="_blank">AutoTech</a>
      </div>
      <div class="col-md-4 clearfix">
        <div class="c-footer__social-container">
          <a href="https://twitter.com/honeypotio" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/Honeypotio/" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://www.linkedin.com/company/honeypot" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <span class="c-footer__company-name">
          &copy; {{date_year}} Honeypot GmbH
        </span>
      </div>
    </div>
  </div>
</footer>
