<footer class="c-footer {{class_name}}">
  <div class="container">
    <a href="http://blog.honeypot.io" class="c-footer__item" target="_blank">Blog</a>
    <a href="https://jobs.lever.co/honeypot" class="c-footer__item" target="_blank">Careers</a>
    <a href="{{url_base}}/pages/legal_notice" class="c-footer__item">Legal Notice</a>
    <a href="{{url_base}}/pages/terms_of_service" class="c-footer__item">Terms of Service</a>
    <a href="{{url_base}}/pages/legal_notice#privacy_policy" class="c-footer__item">Privacy Policy</a>
    <a href="{{url_base}}/pages/faq" class="c-footer__item">FAQ</a>
    <div class="c-footer__item c-footer__copyright">&copy; 2016 Honeypot GmbH</div>
  </div>
</footer>
