  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--zalando"
      src="{{url_base}}DIGEST(/images/zalando_logo.svg)"
      height="30px"
      alt="Zalando"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--travis"
      src="{{url_base}}DIGEST(/images/travis_logo.svg)"
      data-1x="{{url_base}}DIGEST(/images/travis_logo-1x.svg)"
      data-2x="{{url_base}}DIGEST(/images/travis_logo-2x.svg)"
      height="41px"
      alt="Travis CI"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--zenmate"
      srcset="
        {{url_base}}DIGEST(/images/zenmate_logo-2x.png) 2x
      "
      src="{{url_base}}DIGEST(/images/zenmate_logo.png)"
      height="40px"
      alt="Zenmate"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--finleap"
      srcset="{{url_base}}DIGEST(/images/finleap_logo-2x.png) 2x"
      src="{{url_base}}DIGEST(/images/finleap_logo.png)"
      height="50px"
      alt="Finleap jobs"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--coup"
      src="{{url_base}}DIGEST(/images/coup_logo.png)"
      height="35px"
      alt="Coup"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--kiwi"
      src="{{url_base}}DIGEST(/images/kiwi_logo.png)"
      srcset="{{url_base}}DIGEST(/images/kiwi_logo-2x.png) 2x"
      height="24px"
      alt="KIWI"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--glispa"
      src="{{url_base}}DIGEST(/images/glispa_logo.png)"
      srcset="{{url_base}}DIGEST(/images/glispa_logo-2x.png) 2x"
      height="34px"
      alt="Glispa"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--zeiss"
      src="{{url_base}}DIGEST(/images/zeiss_logo.png)"
      height="24px"
      alt="Zeiss"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--moovel"
      src="{{url_base}}DIGEST(/images/moovel_logo.png)"
      alt="Moovel"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--onefootball"
      src="{{url_base}}DIGEST(/images/onefootball_logo.png)"
      srcset="{{url_base}}DIGEST(/images/onefootball_logo-2x.png) 2x"
      height="30px"
      alt="Onefootball"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img class="x c-landing__logo c-landing__logo--liqid"
      src="{{url_base}}DIGEST(/images/liqid_logo.png)"
      srcset="{{url_base}}DIGEST(/images/liqid_logo-2x.png) 2x"
      alt="Liqid jobs"
      height="27px"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--wayfair"
      src="{{url_base}}DIGEST(/images/wayfair_logo.png)"
      srcset="{{url_base}}DIGEST(/images/wayfair_logo-2x.png) 2x"
      height="48px"
      alt="Wayfair"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--kauferportal"
      src="{{url_base}}DIGEST(/images/kaeuferportal_logo.png)"
      srcset="{{url_base}}DIGEST(/images/kaeuferportal_logo-2x.png) 2x"
      height="23px"
      alt="Kauferportal"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--truckin"
      src="{{url_base}}DIGEST(/images/truckin_logo.png)"
      srcset="{{url_base}}DIGEST(/images/truckin_logo-2x.png) 2x"
      height="38px"
      alt="Truckin"
    />
  </div>
  <div class="c-landing__logo-block col-md-3 col-sm-6">
    <img
      class="c-landing__logo c-landing__logo--helpling"
      src="{{url_base}}DIGEST(/images/helpling_logo.svg)"
      height="45px"
      alt="Helpling"
    />
  </div>
