  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--zenmate"
      src="DIGEST({{url_base}}/images/zenmate_logo.png)"
      height="40px"
      alt="Zenmate"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--carmudi"
      src="DIGEST({{url_base}}/images/carmudi_logo.png)"
      height="24px"
      alt="Carmudi jobs"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="c-landing__logo c-landing__logo--travis"
      src="DIGEST({{url_base}}/images/travis_logo.svg)"
      height="41px"
      alt="Travis CI"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--triprebel"
      src="DIGEST({{url_base}}/images/triprebel_logo.png)"
      height="23px"
      alt="Triprebel"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--finleap"
      src="DIGEST({{url_base}}/images/finleap_logo.png)"
      height="50px"
      alt="Finleap jobs"
    />
  </div>
  <div class="c-landing__logo-block">
    <img class="hisrc c-landing__logo c-landing__logo--liqid"
    src="DIGEST({{url_base}}/images/liqid_logo.png)"
      alt="Liqid jobs"
      height="27px"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="c-landing__logo c-landing__logo--hitfox"
      src="DIGEST({{url_base}}/images/hitfox_logo.svg)"
      height="30px"
      alt="HitFox jobs"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--wayfair"
      src="DIGEST({{url_base}}/images/wayfair_logo.png)"
      height="48px"
      alt="Wayfair"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="c-landing__logo c-landing__logo--meedoc"
      src="DIGEST({{url_base}}/images/meedoc_logo.svg)"
      alt="Meedoc"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--glispa"
      src="DIGEST({{url_base}}/images/glispa_logo.png)"
      height="34px"
      alt="Glispa"
    />
  </div>
