<section class="c-landing-references">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-2 c-landing-references__company-logo c-landing-references__company-logo--travis">
        <img class="c-landing-references__company--travis" src="{{url_base}}DIGEST(/images/travis_logo.svg)" height="34px" alt="Travis CI"/>
      </div>
      <div class="col-xs-6 col-md-2 c-landing-references__company-logo c-landing-references__company-logo--even">
        <img class="hisrc c-landing-references__company--liqid" src="{{url_base}}DIGEST(/images/liqid_logo.png)" height="20px" alt="Liqid jobs"/>
      </div>
      <div class="col-xs-6 col-md-2 c-landing-references__company-logo">
        <img class="c-landing-references__company--finleap" src="{{url_base}}DIGEST(/images/finleap_logo.svg)" height="20px" alt="Finleap jobs"/>
      </div>
      <div class="col-xs-6 col-md-2 c-landing-references__company-logo c-landing-references__company-logo--even">
        <img class="hisrc c-landing-references__company--carmudi" src="{{url_base}}DIGEST(/images/carmudi_logo.png)" height="20px" alt="Carmudi jobs"/>
      </div>
      <div class="col-xs-6 col-md-2 c-landing-references__company-logo">
        <img class="c-landing-references__company--hitfox" src="{{url_base}}DIGEST(/images/hitfox_logo.svg)" height="32px" alt="HitFox jobs"/>
      </div>
      <div class="col-xs-6 col-md-2 c-landing-references__company-logo c-landing-references__company-logo--even">
        <img class="hisrc c-landing-references__company--eatfirst" src="{{url_base}}DIGEST(/images/eatfirst_logo.png)" height="18px" alt="EatFirst jobs"/>
      </div>
    </div>
  </div>
</section>
