  <div class="c-landing__logo-block">
    <img
      class="c-landing__logo c-landing__logo--zalando"
      src="DIGEST({{url_base}}/images/zalando_logo.svg)"
      height="30px"
      alt="Zalando"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="c-landing__logo c-landing__logo--travis"
      src="DIGEST({{url_base}}/images/travis_logo.svg)"
      data-1x="DIGEST({{url_base}}/images/travis_logo-1x.svg)"
      data-2x="DIGEST({{url_base}}/images/travis_logo-2x.svg)"
      height="41px"
      alt="Travis CI"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--zenmate"
      src="DIGEST({{url_base}}/images/zenmate_logo.png)"
      data-1x="DIGEST({{url_base}}/images/zenmate_logo-1x.png)"
      data-2x="DIGEST({{url_base}}/images/zenmate_logo-2x.png)"
      height="40px"
      alt="Zenmate"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--finleap"
      src="DIGEST({{url_base}}/images/finleap_logo.png)"
      data-1x="DIGEST({{url_base}}/images/finleap_logo-1x.png)"
      data-2x="DIGEST({{url_base}}/images/finleap_logo-2x.png)"
      height="50px"
      alt="Finleap jobs"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--hitfox"
      src="DIGEST({{url_base}}/images/hitfox_logo.png)"
      data-1x="DIGEST({{url_base}}/images/hitfox_logo-1x.png)"
      data-2x="DIGEST({{url_base}}/images/hitfox_logo-2x.png)"
      height="35px"
      alt="HitFox jobs"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--kiwi"
      src="DIGEST({{url_base}}/images/kiwi_logo.png)"
      data-1x="DIGEST({{url_base}}/images/kiwi_logo-1x.png)"
      data-2x="DIGEST({{url_base}}/images/kiwi_logo-2x.png)"
      height="24px"
      alt="KIWI"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--glispa"
      src="DIGEST({{url_base}}/images/glispa_logo.png)"
      data-1x="DIGEST({{url_base}}/images/glispa_logo-1x.png)"
      data-2x="DIGEST({{url_base}}/images/glispa_logo-2x.png)"
      height="34px"
      alt="Glispa"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--carmudi"
      src="DIGEST({{url_base}}/images/carmudi_logo.png)"
      data-1x="DIGEST({{url_base}}/images/carmudi_logo-1x.png)"
      data-2x="DIGEST({{url_base}}/images/carmudi_logo-2x.png)"
      height="24px"
      alt="Carmudi jobs"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="c-landing__logo c-landing__logo--meedoc"
      src="DIGEST({{url_base}}/images/meedoc_logo.svg)"
      alt="Meedoc"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--onefootball"
      src="DIGEST({{url_base}}/images/onefootball_logo.png)"
      data-1x="DIGEST({{url_base}}/images/onefootball_logo-1x.png)"
      data-2x="DIGEST({{url_base}}/images/onefootball_logo-2x.png)"
      height="30px"
      alt="Onefootball"
    />
  </div>
  <div class="c-landing__logo-block">
    <img class="hisrc c-landing__logo c-landing__logo--liqid"
    src="DIGEST({{url_base}}/images/liqid_logo.png)"
    data-1x="DIGEST({{url_base}}/images/liqid_logo-1x.png)"
    data-1x="DIGEST({{url_base}}/images/liqid_logo-2x.png)"
      alt="Liqid jobs"
      height="27px"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--wayfair"
      src="DIGEST({{url_base}}/images/wayfair_logo.png)"
      data-1x="DIGEST({{url_base}}/images/wayfair_logo-1x.png)"
      data-2x="DIGEST({{url_base}}/images/wayfair_logo-2x.png)"
      height="48px"
      alt="Wayfair"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--kauferportal"
      src="DIGEST({{url_base}}/images/kaeuferportal_logo.png)"
      data-1x="DIGEST({{url_base}}/images/kaeuferportal_logo-1x.png)"
      data-2x="DIGEST({{url_base}}/images/kaeuferportal_logo-2x.png)"
      height="23px"
      alt="Kauferportal"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="hisrc c-landing__logo c-landing__logo--triprebel"
      src="DIGEST({{url_base}}/images/triprebel_logo.png)"
      data-1x="DIGEST({{url_base}}/images/triprebel_logo-1x.png)"
      data-2x="DIGEST({{url_base}}/images/triprebel_logo-2x.png)"
      height="25px"
      alt="Triprebel"
    />
  </div>
  <div class="c-landing__logo-block">
    <img
      class="c-landing__logo c-landing__logo--helpling"
      src="DIGEST({{url_base}}/images/helpling_logo.svg)"
      height="45px"
      alt="Helpling"
    />
  </div>
