<div class="c-landing-read-more__container">
  <a href="http://www.forbes.com/sites/alisoncoleman/2015/11/17/digital-disruption-for-europes-hospitality-shipping-and-recruitment-sectors/#12e954dd7b22" target="_blank">
    <img
      class="hisrc c-landing-read-more__logo"
      src="DIGEST({{url_base}}/images/forbes_logo.png)"
      alt="Read about us in Forbes"
    />
  </a>
  <a href="http://techcrunch.com/2015/10/01/honeypot-wants-to-be-berlins-hired/" target="_blank">
    <img
      class="hisrc c-landing-read-more__logo"
      src="DIGEST({{url_base}}/images/techcrunch_logo.png)"
      alt="Read about us in TechCrunch"
    />
  </a>
  <a href="http://venturebeat.com/2015/10/01/berlins-honeypot/" target="_blank">
    <img
      class="hisrc c-landing-read-more__logo"
      src="DIGEST({{url_base}}/images/vb_logo.png)"
      alt="Read about us in VentureBeat"
    />
  </a>
  <a href="http://t3n.de/news/bewerbung-mal-andersrum-honeypot-645113/" target="_blank">
    <img
      class="hisrc c-landing-read-more__logo"
      src="DIGEST({{url_base}}/images/t3n_logo.png)"
      alt="Read about us in t3n"
    />
  </a>
</div>
<div class="c-landing-read-more__container">
  <a href="http://www.gruenderszene.de/allgemein/honeypot-kaya-taner-applift" target="_blank">
    <img
      class="hisrc c-landing-read-more__logo"
      src="DIGEST({{url_base}}/images/gruenderszene_logo.png)"
      alt="Read about us in Gruenderszene"
    />
  </a>
  <a href="http://www.deutsche-startups.de/2015/12/11/developer-recruiting-funktioniert-einfach-nicht-effizient/" target="_blank">
    <img
      class="hisrc c-landing-read-more__logo"
      src="DIGEST({{url_base}}/images/deutsche_startups_logo.png)"
      alt="Read about us in Deutsche Startups"
    />
  </a>
  <a href="http://webdesignledger.com/honeypot-dev-jobs/" target="_blank">
    <img
      class="hisrc c-landing-read-more__logo"
      src="DIGEST({{url_base}}/images/web_design_ledger_logo.png)"
      alt="Read about us in WebDesignLedger"
    />
  </a>
</div>
