<header class="c-navigation {{class_name}}">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{url_base}}/" class="navbar-brand c-navigation__logo-link">
          {{#if logo}}
            <img src="{{url_base}}DIGEST(/images/{{logo}})" class="c-navigation__logo" alt="Honeypot" />
          {{else}}
            <img src="{{url_base}}DIGEST(/images/logo.svg)" class="c-navigation__logo" alt="Honeypot" />
          {{/if}}
        </a>
      </div>
      <div class='collapse navbar-collapse navbar-right' id="navigation">
        <!-- RENDERED -->
        <ul class='nav navbar-nav'>
          <li><a href="{{url_base}}/pages/how_does_it_work">How does it work</a></li>
          <li id="employers-link"><a href="{{url_base}}/pages/for_employers">For Employers</a></li>
          <li id="developers-link" class="hide"><a href="{{url_base}}/">For Developers</a></li>
          <li><a href="http://blog.honeypot.io/" target="_blank">Blog</a></li>
          <li><a href="{{app_host}}/users/sign_in">Sign in</a></li>
          <li><a href="{{url_base}}/users/sign_up">Sign up</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
