<blockquote class="quote-card">
  <p>{{quote}}</p>

  <div class="media">
    <div class="media-left">
      <img src="{{url_base}}DIGEST(/images/testimonials/{{image}}.png)"
           srcset="{{url_base}}DIGEST(/images/testimonials/{{image}}@2x.png) 2x"
           width="48"
           height="49"
           class="media-object">
    </div>
    <div class="media-body media-middle">
      <img src="{{url_base}}DIGEST(/images/testimonials/{{image}}-signature.svg)" alt="{{name}}">
      <p class="text-muted push--top--half">{{role}}</p>
    </div>
</blockquote>
