<div class="c-about-team__item">
  <img
    srcset="
      {{url_base}}DIGEST(/images/{{imageName}}-mobile.png) 109w,
      {{url_base}}DIGEST(/images/{{imageName}}-tablet.png) 145w,
      {{url_base}}DIGEST(/images/{{imageName}}-2x.png) 2x
    "
    src="{{url_base}}DIGEST(/images/{{imageName}}-desktop.png)"
    class="c-about-team__avatar"
  />
  <div class="c-about-team__name">{{name}}</div>
  <div class="c-about-team__description">{{description}}</div>
</div>
