---
_options:
  layout: app/layouts/main.static.hbs
  partials:
    - app/partials/avatar.static.hbs
---

<section class="c-landing-section c-landing-section--line c-landing-section--explanation">
  <div class="container text-center c-explanation-header">
    <h2 class="c-landing__main-heading c-explanation-header__heading">
      Companies apply to you, not the other way around
    </h2>
    <div class="c-explanation-header__text">
      On Honeypot companies apply directly to developers with salaries from &euro;40,000 to &euro;120,000.
    </div>
    <a href="{{url_base}}/users/sign_up">
      <button class="btn btn-primary btn-blue c-explanation-header__btn">Sign up</button>
    </a>
  </div>
</section>

<section class="c-landing-section c-landing-section--secondary">
  <div class="container">
    <div class="row c-explanation-showcase">
      <div class="col-md-6 col-md-push-6 clearfix c-explanation-showcase__text">
        <div class="c-explanation-showcase__text-block">
          <h2 class="c-explanation-showcase__heading">
            Highlight your experience and your ideal position
          </h2>
          <div class="c-explanation-showcase__copy">
            <p>
              Create your profile and fill in some details about your experience and ideal position.
              We value code not CVs so before being accepted onto Honeypot,
              each developer is individually code reviewed.
            </p>
            <p class="c-explanation-showcase__copy__paragraph">
              We also do a quick call to find out what you are passionate about and to match you to the
              best positions.
            </p>
            <p class="c-explanation-showcase__copy__cta">
              <a href="{{base_url}}/users/sign_up">Sign up &gt;</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <img
          class="c-explanation-showcase__talent-image"
          srcset="
            {{url_base}}DIGEST(/images/explanation_highlight.png) 309w,
            {{url_base}}DIGEST(/images/explanation_highlight-1x.png) 647w,
            {{url_base}}DIGEST(/images/explanation_highlight-2x.png) 2x
          "
          sizes="(min-width: 992px) 647px, 309px"
          src="{{url_base}}DIGEST(/images/explanation_highlight-1x.png)"
          alt="Highlight your experience and your ideal position"
        />
      </div>
    </div>
  </div>
</section>

<section class="c-landing-section c-landing-section--no-bottom-padding">
  <div class="container">
    <div class="row c-explanation-showcase">
      <div class="col-md-5 clearfix c-explanation-showcase__text">
        <div class="c-explanation-showcase__text-block c-explanation-showcase__text-block--no-push c-explanation-showcase__text-block--full-width c-explanation-showcase__text-block--padded-left pull-left">
          <h2 class="c-explanation-showcase__heading">
            Companies request an interview with you
          </h2>
          <div class="c-explanation-showcase__copy">
            <p>
              Companies browse developer profiles by applying filters for technologies, location and salary range.
              They then request an interview by sending interview invites with salary and tech stack up front.
            </p>
            <p class="c-explanation-showcase__copy__paragraph">
              Privacy is important to us. By default your current employers won’t see your profile.
              You can also choose to block your profile from other companies.
            </p>
            <p class="c-explanation-showcase__copy__cta">
              <a href="{{base_url}}/users/sign_up">Sign up &gt;</a>
            </p>
          </div>
        </div>
      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
        <img
          class="c-explanation-showcase__companies-image"
          srcset="
            {{url_base}}DIGEST(/images/explanation_companies.png) 300w,
            {{url_base}}DIGEST(/images/explanation_companies-1x.png) 664w,
            {{url_base}}DIGEST(/images/explanation_companies-2x.png) 2x
          "
          sizes="(min-width: 992px) 664px, 300px"
          src="{{url_base}}DIGEST(/images/explanation_companies-1x.png)"
          alt="Companies request an interview with you"
        />
      </div>
    </div>
  </div>
</section>

<section class="c-landing-section c-landing-section--secondary">
  <div class="container">
    <div class="row c-explanation-showcase">
      <div class="col-md-5 col-md-push-6 clearfix c-explanation-showcase__talent-rep">
        <div class="c-explanation-showcase__text-block c-explanation-showcase__text-block--full-width">
          <h2 class="c-explanation-showcase__heading">
            Your talent rep supports you in finding your ideal role
          </h2>
        </div>
        <div class="c-explanation-showcase__text-block c-explanation-showcase__text-block--full-width">
          <div class="c-explanation-showcase__copy">
            <p>
              Your Talent Rep is your personal career assistant. They will help you create
              your profile, get the best job offers
              and negotiate your salary.
            </p>
            <p class="c-explanation-showcase__copy__paragraph">
              Feel free to ask them anything
              before, during and after the job hunt!
            </p>
            <p class="c-explanation-showcase__copy__cta">
              <a href="{{base_url}}/users/sign_up">Sign up &gt;</a>
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix col-md-6 col-md-pull-5">
        <div class="c-explanation-talent-rep">
          <div class="c-explanation-talent-rep__upper-avatar">
            {{> avatar sizing=220 author="fabio"}}
          </div>
          <div class="c-explanation-talent-rep__lower-avatar">
            {{> avatar sizing=220 author="tabea"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="c-landing-section">
  <div class="container text-center c-explanation-showcase__centered">
    <h2 class="c-explanation-showcase__heading">
      Get a job in three weeks
    </h2>
    <div class="c-explanation-showcase__copy">
      <p>
        Your profile is visible to companies for a three week period, condensing the job hunt into an efficient time frame.
      </p>
      <p class="c-explanation-showcase__copy__paragraph">
        Companies on Honeypot are hiring for frontend, backend and mobile developers, devops, data-scientists, CTOs and more.
      </p>
      <div class="push--top--double">
        <a href="{{url_base}}/users/sign_up">
          <button class="btn btn-blue c-explanation-showcase__btn">Sign up</button>
        </a>
      </div>
    </div>
  </div>
</section>
