---
description: "Honeypot is a Developer-Focused Job Platform. Companies apply to you with salary and tech stack upfront."
title: "Honeypot - The Developer-Focused Job Platform"
_options:
  partials:
    - app/partials/favicons.static.hbs
    - app/partials/meta_tags.static.hbs
    - app/partials/analytics_optout.static.hbs
    - app/partials/google_tag_manager.static.hbs
    - app/partials/navigation.static.hbs
    - app/partials/footer.static.hbs
---
<html>
  <head>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>{{title}}</title>
    <!-- TODO: cookie policy -->
    <!-- TODO: optimizely -->
    <script type="text/javascript" src="{{url_base}}/app.js"></script>
    <script type="text/javascript" src="{{url_base}}/vendor.js"></script>
    <link rel="stylesheet" href="{{url_base}}/app.css">
    {{> analytics_optout}}
    {{> favicons}}
    <meta charset="utf-8">
    <meta name="description" content="{{description}}" />
    {{> meta_tags}}
  </head>
  <body>
    {{#if gtm_id}}
      {{> google_tag_manager tracker=gtm_id}}
    {{/if}}
    <!-- TODO: flash -->
    {{> navigation logo=nav_logo class_name=header_class_name}}
    <main role="main">
      {{content}}
    </main>
    {{> footer class_name=footer_class_name}}
  </body>
</html>
